<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Community.Windows.ValueConverters" version="0.2.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net452" />
  <package id="ManagedEsent" version="1.9.4" targetFramework="net452" />
  <package id="Microsoft.Database.Isam" version="1.9.4" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.105.2" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.105.2" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.105.2" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.105.2" targetFramework="net452" />
  <package id="Topshelf" version="4.0.3" targetFramework="net452" />
</packages>